<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/passagensaereas']"><mat-icon>list</mat-icon></a>
  Passagens Aéreas
</div>
<form [formGroup]="passagemaereaForm" (ngSubmit)="onFormSubmit(passagemaereaForm.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Código" formControlName="codigo"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!passagemaereaForm.get('codigo').valid && passagemaereaForm.get('codigo').touched">Código</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Preço" formControlName="preco"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!passagemaereaForm.get('preco').valid && passagemaereaForm.get('preco').touched">Preço</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Voo</mat-label>
    <mat-select formControlName="voo">
      <mat-option  *ngFor="let voo of voos" [value]="voo">
        {{voo.dataPartida| date:"dd/MM/yyyy HH:mm"}}({{voo.origem.cidade}}) - {{voo.dataChegada | date:"dd/MM/yyyy HH:mm"}}({{voo.destino.cidade}})
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="button-row">
    <button type="submit" [disabled]="!passagemaereaForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
