<div class="button-row">
  <a mat-raised-button color="primary" (click)="enderecoDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="enderecoForm" (ngSubmit)="onFormSubmit(enderecoForm.value)">
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="País" formControlName="pais"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!enderecoForm.get('pais').valid && enderecoForm.get('pais').touched">País</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Cidade" formControlName="cidade"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!enderecoForm.get('cidade').valid && enderecoForm.get('cidade').touched">Please enter Endereco Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Estado" formControlName="estado"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!enderecoForm.get('estado').valid && enderecoForm.get('estado').touched">Please enter Endereco Author</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sigla Estado" formControlName="siglaestado"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!enderecoForm.get('siglaestado').valid && enderecoForm.get('siglaestado').touched">Please enter Endereco Author</span>
    </mat-error>
  </mat-form-field>

  
  <div class="button-row">
    <button type="submit" [disabled]="!enderecoForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
