<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/passagensaereas']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  
  <mat-card-content>
    <dl>
      <dt>Código:</dt>
      <dd>{{passagemaerea.codigo}}</dd>
      <dt>Preco:</dt>
      <dd>{{passagemaerea.preco}}</dd>
      <dt>Voo:</dt>
      <dd>{{passagemaerea.voo.dataPartida| date:"dd/MM/yyyy HH:mm"}}</dd>
      <dd>{{passagemaerea.voo.dataChegada| date:"dd/MM/yyyy HH:mm"}}</dd>
      <dt>Cidade origem:</dt>
      <dd>{{passagemaerea.voo.origem.cidade}}</dd>
      <dt>Cidade destino:</dt>
      <dd>{{passagemaerea.voo.destino.cidade}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/passagemaerea-edit', passagemaerea._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deletePassagemAerea(passagemaerea._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
