<div class="button-row">
  <a mat-raised-button color="primary" (click)="casaDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="casaForm" (ngSubmit)="onFormSubmit(casaForm.value)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Quartos" formControlName="quartos"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!casaForm.get('quartos').valid && casaForm.get('quartos').touched">Quantidade de Quartos</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Suites" formControlName="suites"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!casaForm.get('suites').valid && casaForm.get('suites').touched">Quantidade de Suítes</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sala_estar" formControlName="sala_estar"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!casaForm.get('sala_estar').valid && casaForm.get('sala_estar').touched">Quantidade de Salas de Estar</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Vagas" formControlName="vagas"
                 [errorStateMatcher]="matcher"></textarea>
          <mat-error>
            <span *ngIf="!casaForm.get('vagas').valid && casaForm.get('vagas').touched">Quantidade de Vagas</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Area" formControlName="area"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!casaForm.get('area').valid && casaForm.get('area').touched">Área</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Valor do aluguel" formControlName="valoraluguel"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!casaForm.get('valoraluguel').valid && casaForm.get('valoraluguel').touched">Valor do Aluguel</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Descricao" formControlName="descricao"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!casaForm.get('descricao').valid && casaForm.get('descricao').touched">Descrição</span>
            </mat-error>
          </mat-form-field>
          <mat-grid-list cols="2" rowHeight="100px">
              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Rua" formControlName="rua"
                             [errorStateMatcher]="matcher">
                      <mat-error>
                        <span *ngIf="!casaForm.get('rua').valid && casaForm.get('rua').touched">Rua</span>
                      </mat-error>
                    </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número" formControlName="numero"
                             [errorStateMatcher]="matcher">
                      <mat-error>
                        <span *ngIf="!casaForm.get('numero').valid && casaForm.get('numero').touched">Número</span>
                      </mat-error>
                    </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <mat-select formControlName="endereco">
                      <mat-option  *ngFor="let endereco of enderecos" [value]="endereco">
                        {{endereco.bairro}}
                        -
                        {{endereco.cidade}}      
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox formControlName="armario_embutido">Armário Embutido</mat-checkbox>   
            </mat-grid-tile>
        </mat-grid-list>
  <div class="button-row">
    <button type="submit" [disabled]="!casaForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
