<div class="button-row">
  <a mat-raised-button color="primary" (click)="reservaDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="reservaForm" (ngSubmit)="onFormSubmit(reservaForm.value)">
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pessoas" formControlName="pessoas"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!reservaForm.get('pessoas').valid && reservaForm.get('pessoas').touched">Pessoas</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" formControlName="dataIda" placeholder="Data de ida">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker2" formControlName="dataVolta" placeholder="Data de volta">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cidade Origem</mat-label>
    <mat-select formControlName="origem">
      <mat-option  *ngFor="let origem of origens" [value]="origem">
        {{origem.cidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Destino</mat-label>
    <mat-select formControlName="destino">
      <mat-option  *ngFor="let destino of destinos" [value]="destino">
        {{destino.cidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="button-row">
    <button type="submit" [disabled]="!reservaForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
