<div class="button-row">
  <a mat-raised-button color="primary" (click)="vooDetails()"><mat-icon>show</mat-icon></a>
</div>
<form [formGroup]="vooForm" (ngSubmit)="onFormSubmit(vooForm.value)">
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Número" formControlName="numero"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!vooForm.get('numero').valid && vooForm.get('numero').touched">Número</span>
    </mat-error>
  </mat-form-field>

  <div class="example-full-width">
      <h3>Data de partida</h3>
      <p-calendar [(ngModel)]="date1" formControlName="dataPartida"  [showTime]="true"></p-calendar>
  </div>

  <div class="example-full-width">
      <h3>Data de chegada</h3>
      <p-calendar [(ngModel)]="date2" formControlName="dataChegada"  [showTime]="true"></p-calendar>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Passagens Disponíveis" formControlName="passagensDisp"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!vooForm.get('passagensDisp').valid && vooForm.get('passagensDisp').touched">Passagens Disponíveis</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Origem</mat-label>
    <mat-select formControlName="origem">
      <mat-option  *ngFor="let origem of origens" [value]="origem">
        {{origem.cidade}}
        ({{origem.siglaestado}})-{{origem.pais}}   
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Destino</mat-label>
    <mat-select formControlName="destino">
      <mat-option  *ngFor="let destino of destinos" [value]="destino">
        {{destino.cidade}}
        ({{destino.siglaestado}})-{{destino.pais}}   
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="button-row">
    <button type="submit" [disabled]="!vooForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
